.container {
    background: #FAFAFA;
    border-radius: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    outline: none;
    width: 48%;
    height: 40%;
    padding: 4.5%;
    align-items: center;
    margin: 1%;
}

.state0Style {
    border: 2px solid #D9E6EB;
    color: #496472;
}

.state0Style:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.state1Style {
    border: 4px solid #0D7BAB;
    color: #0D7BAB;
}

.state2Style {
    border: 4px solid #33C933;
    color: #33C933;
}

.state3Style {
    border: 4px solid #FB4343;
    color: #FB4343;
}

.hideIndicationImg {
    display: none;
}

.indicationImg {
    width: 9%;
    float: left;
}

.disable {
    pointer-events: none;
}

.textStyle {
    margin: auto;
}
