<div class="pageContainer">
  <img src="../assets/images/stage.png" alt="top stage" class="topStage">
  <img src="../assets/images/Group%204.png" alt="logo" class="logo">
  <div class="questionStyle">
    <app-question></app-question>
  </div>
  <div class="answersContainer">
      <div class="answerStyle">
        <app-answer></app-answer>
      </div>
      <div class="answerStyle">
            <app-answer></app-answer>
      </div>
      <div class="answerStyle">
          <app-answer></app-answer>
      </div>
      <div class="answerStyle">
          <app-answer></app-answer>
      </div>
  </div>
  <div class="okStyle">
      <app-ok-button></app-ok-button>
  </div>
  <app-progress-dots></app-progress-dots>
  <img src="../assets/images/stage.png" alt="bottom stage" class="bottomStage">
</div>
