<div class="pageContainer" *ngIf="data">
  <img src="../assets/images/stage.png" alt="top stage" class="topStage">
  <img src="../assets/images/logo.png" alt="logo" class="logo">
  <div class="questionStyle">
    <app-question [index]="index" [question]="data[index].question"></app-question>
  </div>
  <div class="answersContainer">
      <div class="answerStyle">
        <app-answer *ngFor="let answer of data[index].answers"
            [answer]="answer['text']"
            [isCorrectAnswer]="answer.isCorrect"
            [okState]="okState % 3"
            [chosenAnswer]="chosenAnswer"
            (answerClickToParent)="getChosenAnswer($event)">
        </app-answer>
      </div>
  </div>
  <app-ok-button class="okStyle" [okState]="okState % 3" (okStateToParent)="getOkState($event)"></app-ok-button>
  <app-progress-dots [index]="index" [length]="data.length" class="progressStyle"></app-progress-dots>
  <img src="../assets/images/stage.png" alt="bottom stage" class="bottomStage">
</div>
