<div class="pageContainer">
  <img src="../assets/images/stage.png" alt="top stage" class="topStage">
  <img src="../assets/images/Group%204.png" alt="logo" class="logo">
  <div class="quizContainer">
    <app-question></app-question>
    <div class="answersContainer">
        <div class="answerStyle">
          <app-answer></app-answer>
        </div>
        <div class="answerStyle">
              <app-answer></app-answer>
        </div>
        <div class="answerStyle">
            <app-answer></app-answer>
        </div>
        <div class="answerStyle">
            <app-answer></app-answer>
        </div>
    </div>
    <app-ok-button></app-ok-button>
    <app-progress-dots></app-progress-dots>
  </div>
  <img src="../assets/images/stage.png" alt="bottom stage" class="bottomStage">
</div>
